#header {
  color:#333; 
  background-color:#2E9DB5;
  padding:10px 0; margin:-20px 0 0px 0;
}
h2 {
  color:#fff; 
}

#fileName {
  margin: 0 10px;
}
/* #result {
  margin: 10px 0
} */
#left img {
  border-radius: 5px;
}
#processing {
  text-align: center;
  margin-top: 50px;
}
.text {
  padding: 20px 50px;
  color:rgba(30, 134, 61, 0.75); 
  font-size:16px;
  font-weight: bold;
}
.error {
  color:rgba(212, 26, 26, 0.75); 
}

footer {
  background-color:#2E9DB5; color:#fff; padding: 15px 0; margin:0px, 0;
  text-align:center;
  font-size:14px;
}
footer p {  
  text-align:center;
}
footer a {  
  color:#fff; 
  text-decoration:underline;  
}

.fixed-bottom {position: fixed;bottom: 0;width:100%;}
